<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <h2>About nekochanstagram</h2>
    </div>
    <div class="span8">
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <h3>developer</h3>
    </div>
    <div class="span8">
      <p>Twitter : <a href="http://twitter.com/cybaron" target="_blank">@cybaron</a></p>
      <p>Mail : <a href="mailto:cybaron@gmail.com">cybaron@gmail.com</a></p>
    </div>
  </div>
</div><!--container-->
